<% provide(:title, "Achievement") %>
<h1>StaticPages#achievement</h1>
<p>Find me in app/views/static_pages/achievement.html.erb</p>
<h1>Sorry! I haven't finished yet... :-( <br>I will update shortly.</h1>
