<% provide(:title, "Home") %>

<!-- water-top -->

<div class="water">

  <canvas id='example'></canvas>

  <div class="water-title">
    <h1>Welcome on <strong>
    <span>Uchida Sakusen</span></strong></h1>
    <p class="lead">The Well Company <strong>since 1926 years</strong></p>
  </div>

</div>

<!-- water-end -->

<!-- <div id="tf-home" class="text-center">
  <div class="overlay">
      <div class="content">
          <h1>Welcome on <strong><span class="color">Uchida Sakusen</span></strong></h1>
          <p class="lead">We are a digital agency with <strong>years of experience</strong> and with <strong>extraordinary people</strong></p>
          <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
      </div>
  </div>
</div> -->

<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div class="carousel-caption">
            <h3>水井戸工事</h3>
            <p>地下状況、掘深度により様々な工法を選択して完成度の高い水井戸をさく井します。</p>
          </div>
      </div>
      <div class="item">
          <div class="carousel-caption">
            <h3>調査分析</h3>
            <p>地質・地盤調査、土壌汚染調査、水中井戸カメラ調査など</p>
          </div>
      </div>
      <div class="item">
          <div class="carousel-caption">
            <h3>温泉井戸</h3>
            <p>温泉掘削用大型ボーリングマシンと大吐出量泥水ポンプ<br>さらに37mにも達するボーリング櫓により、余裕の温泉掘削除</p>
          </div>
      </div>
      <div class="item">
          <div class="carousel-caption">
            <h3>配管工事</h3>
            <p>さく井工事に加えその周りのポンプ設備、配管設備に至るまでサポート<br>井戸廻りの一貫したメンテナンスもお任せ下さい</p>
          </div>
      </div>
  </div>

  <!-- Controls -->
  <a rel="nofollow" rel="noreferrer"class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a rel="nofollow" rel="noreferrer"class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
  </div>
</div>
