<% provide(:title, "Home") %>
<div id="tf-home" class="text-center">
  <div class="overlay">
      <div class="content">
          <h1>Welcome on <strong><span class="color">Uchida Sakusen</span></strong></h1>
          <p class="lead">We are a digital agency with <strong>years of experience</strong> and with <strong>extraordinary people</strong></p>
          <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
      </div>
  </div>
</div>

<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
      </div>
      <div class="item">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
      </div>
      <div class="item">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
      </div>
  </div>

  <!-- Controls -->
  <a rel="nofollow" rel="noreferrer"class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a rel="nofollow" rel="noreferrer"class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="home-card">
        <p>hello</p>
      </div>
    </div>
  </div>
</div>
