<% provide(:title, "Infomation") %>
<div class="overlay">
  <div class="container">
    <div class="section-title center">
        <h2>Meet <strong>our team</strong></h2>
        <div class="line">
            <hr>
        </div>
    </div>

    <div>
      <div>
        <div class="background-image">
          <div class="owl-item">
            <div class="item">
                <div class="thumbnail">
                  <img src="assets/images/01.jpg" alt="..." class="img-circle team-img">
                  <div class="caption">
                    <h3>内田米房</h3>
                    <p>代表取締役</p>
                    <p>当社は、さく井工事を主体に長年の信頼と経験により多くの実績を積み上げてまいりました。また、管工事、機械設置工事、地質調査など幅広く展開して、常にお客様のニーズに応えるような体制で取り組んでおります。</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="owl-controls clickable">
      <div class="owl-pagination">
        <div class="owl-page active">
          <span class=""></span>
        </div>
          <div class="owl-page">
            <span class=""></span>
          </div>
        </div>
    </div>
  </div>

</div>

