<% provide(:title, "Infomation") %>
<div class="overlay">
  <div class="container">
    <div class="section-title center">
        <h2>会社案内</h2>
        <div class="line">
            <hr>
        </div>
    </div>


    <div class="background-imag">
      <div class="owl-item">
        <div class="block1">
          <div class="item">
            <div class="thumbnail">
              <!-- <img src="assets/images/01.jpg"> -->
              <div class="caption">
                <h3>内田米房</h3>
                <p>代表取締役</p>
                <p>当社は、さく井工事を主体に長年の信頼と経験により多くの実績を積み上げてまいりました。また、管工事、機械設置工事、地質調査など幅広く展開して、常にお客様のニーズに応えるような体制で取り組んでおります。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12"></div>
          <div class="">
            <div class="background-image">
              <div class="owl-item">
                <div class="item">
                  <div class="thumbnail">
                    <!-- <img src="assets/images/01.jpg" alt="..." class="img-circle team-img"> -->
                    <div class="caption block2">
                      <h3>会社概要</h3>
                      <ul>
                        <li>
                          <p>「創　業」　大正15年1月1日</p>
                        </li>
                        <li>
                          <p>「資本金」　　　10,000千円</p>
                        </li>
                        <li>
                          <p>「代表取締役」　　内田 米房</p>
                        </li>
                        <li>
                          <p>「従業数」　　　　　20名</p>
                        </li>
                        <li>
                          <p>「業務内容」<br>温泉工事、井戸工事、地質調査、<br>地上探査、井戸内カメラ</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12"></div>
          <div class="">
            <div class="background-image">
              <div class="owl-item">
                <div class="item">
                  <div class="thumbnail">
                    <!-- <img src="assets/images/01.jpg" alt="..." class="img-circle team-img"> -->
                    <div class="caption block3">
                      <h3>許可・資格・登録</h3>
                      <ul>
                        <li>
                          <p><span>さく井工事業</span></p>
                        </li>
                        <li>
                          <p><span>管工事業</span></p>
                        </li>
                        <li>
                          <p><span>機械器具設置工事業</span>
                          <br>国土交通大臣許可(般-21)第23358号</p>
                        </li>
                        <li>
                          <p><span>地質調査業</span>
                          <br>国土交通大臣許可(質-14)第1388号</p>
                        </li>
                        <li>
                          <p><span>土壌汚染調査</span>
                          <br>環境省許可　環2003-2-16</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="background-image">
            <div class="owl-item">
              <div class="item">
                <div class="thumbnail">
                  <!-- <img src="assets/images/01.jpg" alt="..." class="img-circle team-img"> -->
                  <div class="caption block4">
                    <h3>会社沿革</h3>
                    <ul>
                      <li>
                        <p>「大正15年01月05日　創業</p>
                      </li>
                      <li>
                        <p>昭和26年08月04日　さく井工事業　県知事許可登録</p>
                      </li>
                      <li>
                        <p>昭和44年12月23日　会社組織に変更、資本金5,000千円<br>内田繁幸　社長に就任</p>
                      </li>
                      <li>
                        <p>昭和53年12月30日　資本金7,000千円に増資</p>
                      </li>
                      <li>
                        <p>平成06年12月27日　資本金10,000千円に増資</p>
                      </li>
                      <li>
                        <p>平成18年10月30日　内田米房　社長に就任</p>
                      </li>
                      <li>
                        <p>平成19年12月17日　機械器具設置工事業　県知事許可登録</p>
                      </li>
                      <li>
                        <p>平成21年08月18日　豊橋営業所、名古屋営業所　開設</p>
                      </li>
                      <li>
                        <p>平成21年12月14日　さく井・管・機械器具設置工事業</p>
                      </li>
                      <li>
                        <p>平成元年05月13日　管工事業　県知事許可登録<br>大臣許可登録</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



    <div class="owl-controls clickable">
      <div class="owl-pagination">
        <div class="owl-page active">
          <span class=""></span>
        </div>
        <div class="owl-page">
          <span class=""></span>
        </div>
      </div>
    </div>
  </div>

</div>

