<% provide(:title, "Involve") %>
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">水井戸工事</h2>
    <p class="lead">地下状況、掘深度により様々な工法を選択して完成度の高い水井戸をさく井します。</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">調査分析</h2>
    <p class="lead">地質・地盤調査<br>土壌汚染調査<br>水中井戸カメラ調査<br>など</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">温泉井戸</h2>
    <p class="lead">温泉掘削用大型ボーリングマシンと大吐出量泥水ポンプ<br>さらに37mにも達するボーリング櫓により、余裕の温泉掘削除</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">配管工事</h2>
    <p class="lead">さく井工事に加えその周りのポンプ設備、配管設備に至るまでサポート<br>戸廻りの一貫したメンテナンスもお任せ下さい
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>
