.owl-item {
  width: 235px;
}

.background-img {
  background-color: #000000;
  background-image: url('app/assets/images/03.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}
