a.fa.fa-angle-down {
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
  font-size: 24px;
  margin-top: 200px;
  transition: all 0.5s;
}
a.fa.fa-angle-down:hover{
  background: #fcac45;
  color: #ffffff;
  border: 2px solid #fcac45;
}
